<!-- predicts.html -->
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>

{% block content %}
    <h1>{{ title }}</h1>
    {{ post.content|linebreaks }}

    <form id="multi-form" method="post">
        {% csrf_token %}
        <h3>Форма для выбора оси</h3>
        {{ form.axis_choice }}

        <h3>Форма для выбора модели машинного обучения</h3>
        {{ form.second_choice }}

        <button type="submit">Submit</button>
    </form>

    <h1>Результат</h1>
    {% if predict == '' %}
        <div>Переменная predict равна пустой строке</div>
        <div>Выберете другую переменную для обучения данной модели</div>
    {% else %}
        <h2>Значение метрики f1</h2>
        <h4>{{ metric }}</h4>
        <h2>Вывод предсказания</h2>
        <p><img class="img-article-left" src="{{ predict }}" alt="Predict Image"></p>
    {% endif %}

    {% if error %}
        <p style="color: red;">Error: {{ error }}</p>
    {% endif %}

{% endblock %}
</html>